{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021,
    "project": "./tsconfig.json"
  },
  "root": true,
  "rules": {
    "quotes": [
      2,
      "single"
    ],
    "max-len": [
      "error",
      {
        "code": 300
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [
          ".ts",
          ".tsx",
          ".js",
          ".jsx"
        ]
      }
    ]
  }
}